<%#= render "header" %>
<% if user_signed_in? %>
<%= link_to 'イベント追加', new_event_path %>
<% end %>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
    <%= link_to event_path(event.id) do %>
      <%= event.live_name %>
    <% end %>
    </div>
  <% end %>
<% end %>