<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @event.live_name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @event.image.variant(resize: '300x300') if @event.image.attached?%>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">会場</th>
          <td class="detail-value"><%= @event.place %></td>
        </tr>
        <tr>
          <th class="detail-item">開演時間</th>
          <td class="detail-value"><%= @event.start_time.strftime("%H:%M") %></td>
        </tr>
        <tr>
          <th class="detail-item">出演者</th>
          <td class="detail-value"><%= @event.guest%></td>
        </tr>
        <tr>
          <th class="detail-item">料金</th>
          <td class="detail-value"><%= @event.price %>円</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if user_signed_in? %>
  <div class="event__manage">
    <%= link_to "編集する", edit_event_path(@event.id), class: :event__btn %>
    <%= link_to "削除する", event_path(@event.id), method: :delete, class: :event__btn %>
  </div>
<% end %>